.course-content-cards {
  margin-bottom: 12rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.course-content-cards__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;

  @include breakpoint(max, medium) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
