.home__introduction {
  margin-top: calc(10rem - 2rem);

  @include breakpoint(max, 1440px) {
    margin-top: calc(8rem - 1.6rem);
  }

  @include breakpoint(max, medium) {
    margin-top: calc(5rem - 1.4rem);
  }
}

.home__introduction,
.home__partners {
  margin-bottom: 10rem;

  @include breakpoint(max, 1440px) {
    margin-bottom: 8rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__video,
.home__pricing {
  margin-bottom: 15rem;

  @include breakpoint(max, 1440px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__benefits,
.home__courses {
  margin-bottom: 10rem;

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__testimonials {
  margin-bottom: 16.8rem;

  @include breakpoint(max, 1440px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}
