.home__introduction {
  margin-top: 10rem;

  @include breakpoint(max, 1439px) {
    margin-top: 8rem;
  }

  @include breakpoint(max, medium) {
    margin-top: 5rem;
  }
}

.home__introduction,
.home__partners {
  margin-bottom: 10rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 8rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__video,
.home__pricing {
  margin-bottom: 15rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__benefits,
.home__courses {
  margin-bottom: 10rem;

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__testimonials {
  margin-bottom: 16.8rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}

.home__faq {
  margin-bottom: 14.2rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 10rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 5rem;
  }
}
