.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.3rem;

  margin-bottom: 2rem;
  margin-right: auto;
  padding: 1.4rem 1.6rem;
  border-radius: 0.8rem;

  background-color: $orange-50;

  @include breakpoint(max, 1440px) {
    margin-bottom: 1.6rem;
  }

  @include breakpoint(max, small) {
    justify-content: space-between;
    column-gap: 0;

    margin-bottom: 1.4rem;
  }

  @include breakpoint(max, 385px) {
    justify-content: center;
  }
}

.notification__icon {
  @include breakpoint(max, 385px) {
    display: none;
  }
}
