.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.3rem;

  margin: 0 3rem 2rem;
  padding: 1.4rem 1.6rem;
  border-radius: 0.8rem;

  min-width: $min-screen-width;

  background-color: $orange-50;

  @include breakpoint(max, 1440px) {
    margin: 0 2rem 1.6rem;
  }

  @include breakpoint(max, small) {
    justify-content: space-between;
    column-gap: 0;

    margin: 0 1.6rem 1.4rem;
  }

  @include breakpoint(max, 385px) {
    justify-content: center;
  }
}

.notification__icon {
  @include breakpoint(max, 385px) {
    display: none;
  }
}
