.page-header {
  margin: 10rem 0;

  @include breakpoint(max, 1439px) {
    margin: 8rem 0;
  }

  @include breakpoint(max, medium) {
    margin: 5rem 0;
  }

  border-bottom: 0.1rem solid $white-90;
}
.page-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;

  padding-bottom: 5rem;

  @include breakpoint(max, 1439px) {
    gap: 8rem;
    padding-bottom: 4rem;
  }

  @include breakpoint(max, medium) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    padding-bottom: 3rem;
  }
}

.page-header__title,
.page-header__description {
  flex: 1;
}
