.pricing-card {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;

  padding: 4rem;

  background-color: $white-95;

  border-radius: inherit;

  @include breakpoint(max, 1439px) {
    padding: 3rem;
  }

  @include breakpoint(max, medium) {
    padding: 2rem;
    row-gap: 3rem;
  }
}

.pricing-card:only-child {
  grid-column: span 2;
}

.pricing-card__header {
  background-color: $orange-97;

  border: 0.1rem solid $orange-90;
  border-radius: 0.6rem;

  padding: 2.2rem 1.2rem;

  text-align: center;

  @include breakpoint(max, 1439px) {
    border-radius: 0.4rem;
    padding: 2.2rem 1rem;
  }

  @include breakpoint(max, medium) {
    padding: 2.2rem 0.8rem;
  }
}

.pricing-card__price {
  text-align: center;
}

.pricing-card__content {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding-top: 3rem;

  background-color: $white;

  border-radius: inherit;

  @include breakpoint(max, medium) {
    padding-top: 2rem;
  }
}
.pricing-card__feature-header {
  text-align: center;

  margin-bottom: 3rem;

  @include breakpoint(max, 1439px) {
    margin-bottom: 2.4rem;
  }

  @include breakpoint(max, medium) {
    margin-bottom: 2rem;
  }
}

.pricing-card__features {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  padding: 3rem;

  @include breakpoint(max, medium) {
    padding: 2rem;
  }
}

.pricing-card__feature {
  display: flex;
  align-items: center;

  padding: 1.4rem;
  column-gap: 1.2rem;

  border: 0.1rem solid $white-95;
  border-radius: 0.8rem;

  @include breakpoint(max, 1439px) {
    padding: 1.2rem;
    column-gap: 0.8rem;

    border-radius: 0.6rem;
  }
}
.pricing-card__icon-wrapper {
  flex-shrink: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: $orange-95;

  border-radius: 0.4rem;

  padding: 0.6rem;

  @include breakpoint(max, 1439px) {
    padding: 0.4rem;
  }

  svg {
    fill: $grey-15;
  }
}

.pricing-card__icon-wrapper--transparent {
  border: 0.1rem solid $white-95;
  background-color: transparent;
}

.pricing-card__btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
