.section-header__description {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  margin: 0.6rem 0 8rem;

  @include breakpoint(max, 1439px) {
    margin: 0.4rem 0 6rem;
  }

  @include breakpoint(max, medium) {
    flex-direction: column;
    margin: 0.4rem 0 4rem;
  }
}

.section-header__description-text {
  @include breakpoint(min, medium) {
    flex-basis: 73%;
  }
}

.section-header__btn {
  white-space: nowrap;
  flex-shrink: 0;
  align-self: flex-end;

  @include breakpoint(max, medium) {
    align-self: flex-start;
  }
}

.section-header__tabs {
  flex-shrink: 0;

  display: flex;

  background-color: $white;
  padding: 1.2rem;
  border-radius: 0.8rem;

  @include breakpoint(max, medium) {
    align-self: center;
  }
}

.section-header__tab {
  @extend .text-grey-15;

  padding: 1.4rem 3rem;

  @include breakpoint(max, 1439px) {
    padding: 1.2rem 2.4rem;
  }
}

.section-header__tab.active {
  @extend .btn--yellow;
  @extend .text-white;
}
