.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9900;

  background-color: rgba($white-97, 0.9);
  backdrop-filter: blur(2.4rem);

  transition: all 0.3s ease-out;

  &::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 -16.3rem;
    width: 100vw;
    height: 0.1rem;
    background-color: transparent;

    animation: sticky-nav-border-animaiton 1s ease-out 0.1s forwards;

    @include breakpoint(max, 1440px) {
      margin: 0 -8rem;
    }

    @include breakpoint(max, xlarge) {
      margin: 0 -2rem;
    }

    @include breakpoint(max, medium) {
      margin: 0 -1.6rem;
    }
  }
}

.sticky-nav .nav__item:not(.nav__logo):has(:not(.nav__sign-in)) {
  padding: 1.2rem 2.4rem;
}

.sticky-nav .nav__link {
  padding: 0;

  &:hover {
    background-color: unset;
  }

  @extend .text-link;
  @extend .text-link--orange-underline;
}

@keyframes sticky-nav-border-animaiton {
  0% {
    background-color: $fire-red;
    transform: scaleX(0);
  }

  50% {
    background-color: $orange-50;
  }

  100% {
    background-color: $white-90;
    transform: scaleX(1);
  }
}
