.section-header__description {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  margin: 0.6rem 0 8rem;

  @include breakpoint(max, 1440px) {
    margin: 0.4rem 0 6rem;
  }

  @include breakpoint(max, medium) {
    flex-direction: column;
    margin: 0.4rem 0 4rem;
  }
}

.section-header__description-text {
  @include breakpoint(min, medium) {
    flex-basis: 73%;
  }
}

.section-header__btn {
  white-space: nowrap;
  flex-shrink: 0;
  align-self: flex-end;

  @include breakpoint(max, medium) {
    align-self: flex-start;
  }
}
