<footer class="footer text-regular">
  <div class="container">
    <div class="footer__main">
      <section class="footer__aside-section">
        <h3 class="visually-hidden">Skillbridge footer</h3>
        <div class="footer__logo">
          <a href="/">
            <svg role="img" class="icon-54">
              <use xlink:href="icons.svg#logo"></use>
            </svg>
          </a>
        </div>
        <ul class="footer__contact-list">
          <li class="footer__contact-item">
            <svg role="img" class="icon-24">
              <use xlink:href="icons.svg#mail"></use>
            </svg>
            <a
              class="text-link text-grey-15"
              href="mailto:hello@skillbridge.com"
            >hello@skillbridge.com</a>
          </li>
          <li class="footer__contact-item">
            <svg role="img" class="icon-24">
              <use xlink:href="icons.svg#phone"></use>
            </svg>
            <a class="text-link text-grey-15" href="tel:+91 91813 23 2309">+91
              91813 23 2309</a>
          </li>
          <li class="footer__contact-item">
            <svg role="img" class="icon-24">
              <use xlink:href="icons.svg#geo"></use>
            </svg>
            <a class="text-link text-grey-15" href="#0">Somewhere in the World</a>
          </li>
        </ul>
      </section>
      <div class="footer__main-sections">
        <section class="footer__section">
          <h3 class="footer__seciton-title text-semi-bold">
            Home
          </h3>
          <ul class="footer__link-list">
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Benefits</a>
            </li>
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Our Courses</a>
            </li>
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Our Testimonials</a>
            </li>
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Our FAQ</a>
            </li>
          </ul>
        </section>
        <section class="footer__section">
          <h3 class="footer__seciton-title text-semi-bold">
            About Us
          </h3>
          <ul class="footer__link-list">
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Company</a>
            </li>
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Achievements</a>
            </li>
            <li class="footer__link-item">
              <a class="text-link text-grey-35" href="#0">Our Goals</a>
            </li>
          </ul>
        </section>
        <section class="footer__section">
          <h3 class="footer__seciton-title text-semi-bold">
            Social Profiles
          </h3>
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a class="footer__social-link icon-24" href="#0">
                <svg class="icon-wrapped">
                  <use xlink:href="icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link icon-24" href="#0">
                <svg class="icon-wrapped">
                  <use xlink:href="icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link icon-24" href="#0">
                <svg class="icon-wrapped">
                  <use xlink:href="icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <p class="footer__copyright text-grey-40">
      © 2023 Skillbridge. All rights reserved.
    </p>
  </div>
</footer>