<nav class="nav text-regular">
  <ul class="nav__list nav__desktop-links">
    <li class="nav__item nav__logo logo">
      <a href="/">
        <svg class="icon-54" role="img">
          <use xlink:href="icons.svg#logo"></use>
        </svg>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./skillbridge"> Home </a>
    </li>
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./courses"> Courses </a>
    </li>
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./about"> About Us </a>
    </li>
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./pricing"> Pricing </a>
    </li>
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./contact"> Contact </a>
    </li>
  </ul>
  <ul class="nav__list nav__list--auth">
    <li class="nav__item">
      <a class="nav__link text-grey-15" href="./sign-up"> Sign Up </a>
    </li>
    <li class="nav__item nav__item--sign-in">
      <a class="nav__sign-in btn btn--yellow text-white" href="./login">
        Login
      </a>
    </li>
  </ul>
  <div class="nav__mobile-menu" data-controller="mobile-nav">
    <button class="nav__mobile-menu-btn" data-action="click->mobile-nav#toggle">
      <svg data-mobile-nav-target="icon">
        <use class="visible" xlink:href="icons.svg#burger-menu"></use>
        <use xlink:href="icons.svg#cross"></use>
      </svg>
    </button>
    <ul class="nav__mobile-menu-content" data-mobile-nav-target="container">
      <li>
        <a class="text-link text-grey-15 text-link--orange-underline" href="./skillbridge"> Home </a>
      </li>
      <li>
        <a class="text-link text-grey-15 text-link--orange-underline" href="./courses">
          Courses
        </a>
      </li>
      <li>
        <a class="text-link text-grey-15 text-link--orange-underline" href="./about">
          About Us
        </a>
      </li>
      <li>
        <a class="text-link text-grey-15 text-link--orange-underline" href="./pricing">
          Pricing
        </a>
      </li>
      <li>
        <a class="text-link text-grey-15 text-link--orange-underline" href="./contact">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>