.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: calc(159.6rem + (16.3rem * 2));
  min-width: $min-screen-width;
  padding: 0 16.3rem;
  margin: 0 auto;

  @include breakpoint(max, 1440px) {
    padding: 0 8rem;
  }

  @include breakpoint(max, xlarge) {
    padding: 0 2rem;
  }

  @include breakpoint(max, medium) {
    padding: 0 1.6rem;
  }
}

.visually-hidden {
  @include hide();
}

// text

.text-main-header {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 3.6rem;
  }

  @include breakpoint(max, medium) {
    font-size: 1.6rem;
  }
}

.text-header {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 3.8rem;
  }

  @include breakpoint(max, medium) {
    font-size: 2.8rem;
  }
}

.text-sub-header {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 2.8rem;
  }

  @include breakpoint(max, medium) {
    font-size: 2.4rem;
  }
}

.text-extra-large {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;

  @include breakpoint(max, 1440px) {
    font-size: 6rem;
  }

  @include breakpoint(max, medium) {
    font-size: 5rem;
  }
}

.text-label {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 2rem;
  }

  @include breakpoint(max, medium) {
    font-size: 1.8rem;
  }
}

.text-number {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;

  @include breakpoint(max, 1440px) {
    font-size: 6rem;
  }

  @include breakpoint(max, medium) {
    font-size: 5rem;
  }
}

.text-regular {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 1.6rem;
  }
}

.text-accent {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;

  @include breakpoint(max, 1440px) {
    font-size: 1.6rem;
  }
}

.text-orange-50 {
  color: $orange-50;
}

.text-orange-70 {
  color: $orange-70;
}

.text-orange-75 {
  color: $orange-75;
}

.text-orange-80 {
  color: $orange-80;
}

.text-white {
  color: $white;
}

.text-white-90 {
  color: $white-90;
}

.text-white-95 {
  color: $white-95;
}

.text-white-97 {
  color: $white-97;
}

.text-white-99 {
  color: $white-99;
}

.text-black {
  color: $black;
}

.text-grey-10 {
  color: $grey-10;
}

.text-grey-15 {
  color: $grey-15;
}

.text-grey-20 {
  color: $grey-20;
}

.text-grey-30 {
  color: $grey-30;
}

.text-grey-35 {
  color: $grey-35;
}

.text-grey-40 {
  color: $grey-40;
}

.text-grey-60 {
  color: $grey-60;
}

.text-grey-70 {
  color: $grey-70;
}

.text-grey-35 {
  color: $grey-35;
}

.text-medium {
  font-weight: 500;
}

.text-semi-bold {
  font-weight: 600;
}

.text-link {
  position: relative;

  @include after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.1rem;

    background-color: $grey-15;

    transform: scaleX(0);

    transition: background-color 0.2s ease-out, transform 0.2s ease-out;
    transform-origin: 0 0;
  }
}

.text-link:hover {
  color: $grey-20;

  &::after {
    background-color: $grey-20;

    transform: scaleX(1);
  }
}

.text-link--white {
  color: $white;

  &::after {
    background-color: $white;
  }
}

.text-link--white:hover {
  color: $white-97;

  &::after {
    background-color: $white-97;
  }
}

.text-link--orange-underline {
  &::after {
    bottom: -0.1rem;
    height: 0.2rem;
    background-color: $orange-70;
  }
}

.text-link--orange-underline:hover {
  &::after {
    background-color: $orange-70;
  }
}

// icons
.icon-wrapped {
  width: 100%;
  height: 100%;
}

.icon-54 {
  width: 5.4rem;
  height: 5.4rem;

  @include breakpoint(max, 1440px) {
    width: 4.4rem;
    height: 4.4rem;
  }

  @include breakpoint(max, medium) {
    width: 4rem;
    height: 4rem;
  }
}

.icon-44 {
  width: 4.4rem;
  height: 4.4rem;

  @include breakpoint(max, 1440px) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.icon-34 {
  width: 3.4rem;
  height: 3.4rem;
}

.icon-24 {
  width: 2.4rem;
  height: 2.4rem;

  @include breakpoint(max, 1440px) {
    width: 2rem;
    height: 2rem;
  }
}

// buttons
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.6rem;
  border: 0.1rem solid transparent;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;

  transition: background-color 0.2s ease-out, transform 0.2s ease-out;

  @include breakpoint(max, 1440px) {
    font-size: 1.4rem;
  }

  cursor: pointer;

  padding: 1.8rem 2.4rem;

  @include breakpoint(max, 1440px) {
    padding: 1.4rem 2rem;
  }

  &:active {
    transform: translateY(0.2rem);
  }
}

.btn--yellow {
  background-color: $orange-50;

  &:hover {
    background-color: $orange-70;
  }
}

.btn--white {
  background-color: $white;
  border-color: $white-95;

  &:hover {
    background-color: $white-95;
  }
}

.btn--white-99 {
  background-color: $white-99;
  border-color: $white-95;

  &:hover {
    background-color: $white-95;
  }
}

.btn--white-97 {
  background-color: $white-97;
  border-color: $white-95;

  &:hover {
    background-color: $white-95;
  }
}

// interactive border

.interactive-border {
  position: relative;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    background: linear-gradient(
      var(--rotation),
      transparent 60%,
      $fire-red 70%,
      $orange-70 90%
    );
    inset: 0;
    z-index: 1;
    border-radius: inherit;

    opacity: 0;
    transition: opacity 0.25s ease-out;
  }

  &::after {
    width: calc(100% - 0.2rem);
    height: calc(100% - 0.2rem);

    border-radius: inherit;
    z-index: 1;

    inset: -0.1rem;
    margin: auto;

    background-color: $white;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.interactive-border__content {
  position: relative;
  z-index: 2;
}
